$bgcolor: #ccc;

$link-color:#f00;

@import './sprites';

.icon{
    &.icon-1{
        @include sprite($p1);
    }
    &.icon-2{
        @include sprite($p2);
    }
}


body{
    background-color: #ccc ;
    a{
        color: $link-color;
    }
    .container{
        a{
            color: $link-color;
            &:hover{
                color:#ffffff;
            }
        }
    }
}